# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
    python: python3.11

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format

-   repo: https://github.com/henriquegemignani/jsonschema-to-typeddict
    rev: v1.4.2
    hooks:
    -   id: jsonschema-to-typeddict
        files: src/factorio_randovania_mod/files/schema.json
        args: [ --output-path, src/factorio_randovania_mod/configuration.pyi, --root-name, Configuration ]